<ul class="sidebar-nav">

 {% if user.is_authenticated %}
   <li>User: {{ user.get_username }}</li>
   <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
 {% else %}
   <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
 {% endif %}
</ul>

{% if user.is_authenticated %}
<iframe style="width:1000px;height:1500px"src="https://docs.google.com/spreadsheets/d/1PDcEQfnNSenggsrVZmZWMqQhrrj9jAMZoH3HHbN3m-E/edit?usp=sharing&amp;widget=true&amp;headers=false"></iframe>
{% endif %}
